---
permalink: /humans.txt
sitemapExclude: true
---
/* TEAM */
Site: {{ site.title }}
Contact: hello@publictheology.com
Location: Online

/* THANKS */
Theme credit: Start Bootstrap - Coming Soon
Theme source: https://github.com/StartBootstrap/startbootstrap-coming-soon

/* SITE */

Last update: {{ page.date }}
Language: English
Built with: Eleventy 3.1.2
Doctype: HTML5
IDE: Terminal, VS Code

