---
layout: layouts/default.njk
bodyClass: tag-template
title: Tags
permalink: /tags/
---
<main class="gh-main gh-outer">
	<div class="gh-inner">
		<section class="gh-pagehead"><h1 class="gh-pagehead-title">Tags</h1></section>
		<ul class="gh-taxonomy-list">
		{% for term in collections.tags %}<li><a href="{{ term.url }}">{{ term.name }}</a> <span>({{ term.count }})</span></li>{% endfor %}
		</ul>
	</div>
</main>
