{% if post.data.feature_image %}
    <figure class="gh-article-image">
        <img
            src="{{ post.data.feature_image }}"
            alt="{{ post.data.feature_image_alt or post.data.title }}"
			{% if post.data.feature_image_width %}width="{{ post.data.feature_image_width }}"{% endif %}
			{% if post.data.feature_image_height %}height="{{ post.data.feature_image_height }}"{% endif %}
            sizes="(max-width: 1200px) 100vw, 1200px"
            loading="eager"
            fetchpriority="high"
            decoding="async"
        >
        {% if post.data.feature_image_caption %}
            <figcaption>{{ post.data.feature_image_caption | safe }}</figcaption>
        {% endif %}
    </figure>
{% endif %}
